* {
    box-sizing: border-box;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
  thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
  header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
   margin: 0;
   padding: 0;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  #home {
    display: block;
  }

  #about {
    display: none;
  }

  #gallery {
    display: none;
  }

  #contact {
    display: block;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('./images/gradient.png');
    background-attachment: fixed;
    background-size: cover;
  }

  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1, .h1 {
    font-size: 34px;
    font-style: oblique;
  }

  h2, .h2 {
    font-size: 30px;
    font-style: oblique;
  }

  .fw-500 {
    font-weight: 500;
  }

  .fw-700 {
    font-weight: 700;
  }

  .text-justify {
    text-align: justify;
  }

  .text-center {
    text-align: center;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000;
    padding: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .logo-text {
    color:  #b18646;
    display: inline-block;
    font-size: 22px;
    font-style: oblique;
  }

  .nav {
    height: 80px;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 16px;

  }

  .nav-item {
    margin: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    font-style: oblique;
    font-size: 20px;
    color: #b18646;

  }
  
  .hero-image {
    background-image: url('./images/heroImage.jpg');
    background-color: #464242;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-title {
    position: absolute;
    right: 80px;
    bottom: 40px;
  }

  .my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .py-68 {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .w-30 {
    width: 30%;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .m-12 {
    margin: 12px;
  }

  .mt-12 {
    margin-top: 12px;
  }

  .image-container {
    display: inline-block;
    padding: 16px;
    width: 33.33%;
  }

  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .image-description {
    background-color: #000;
    color: #b18646;
    text-align: center;
  }

  .form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    padding: 12px;
    width: 100%;
  }

  textarea {
    padding: 12px;
    width: 100%;
  }

  .btn {
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 18px;
    background-color: #000;
    color: #b18646;
    font-size: 16px;
  }

  .btn:hover {
    background-color: #464242;
    color: #000;
  }

  footer {
    background-color: #000;
    color: #b18646;
    padding: 64px;
  }

  .social-icons {
    text-align: center;
  }

  .d-inline {
    display: inline-block;
  }

  .socials {
    cursor: pointer;
  }

  .divider {
    border: 1px solid #b18646;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #b18646;
  }

  .footer-bottom {
    background-color: #b18646;
    color: #000;
    padding: 34px;
    text-align: center;
  }

  .author {
    font-style: oblique;
  }

  .logo-author {
    object-fit: cover;
  }

  @media screen and (max-width: 640px) {
    .image-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  


  


 

  





  

 

  
